{% extends "home.html" %}

{% block leftcontent %}
  <div class="full-width">
    <p>
      Mit dem Ziel den Klimawandeldiskurs in der deutschen Politik zugänglicher zu machen, 
      zeigen wir hier eine Übersicht zu Klimakomposita in deutschen Wahlprogrammen seit 
      Gründung der Bundesrepublik Deutschland 1949.
    </p>
    <p>
      Wahlprogramme sind die Schlüsselelemente des Wahlkampfs einer Partei 
      und stellen ihre Ansichten, Ziele und Versprechen für eine Regierungsbeteiligung dar. 
      Wichtig ist dabei, dass die Wahlprogramme die Gesamtheit der Partei 
      (oder zumindest ihren demokratisch gewählten gemeinsamen Nenner), 
      sozusagen ihre Identität, darstellen. 
      Die Analyse des Klimadiskurses in deutschen Wahlprogrammen von 1949 bis 2021 
      zeigt also gleichwohl Trends in Parteien, 
      als auch in der politischen Landschafts Deutschlands allgemein.
      Mithilfe der Daten des <a href="https://manifesto-project.wzb.eu/">Manifesto Projekts</a>
      haben wir die Wahlprogramme der 20 Bundestagswahlen 
      hinsichtlich der enthaltenen Klimakomposita analysiert. 
      Da bis zu den 1980er Jahren keine Klimakomposita in den Wahlprogrammen verwendet wurden, 
      haben wir die Visualisierungen an der Zeitachse entsprechend angepasst.
    </p>
  </div>

<!-- graph slideshow -->
<!-- https://www.w3schools.com/howto/howto_js_slideshow.asp -->
<div class="slideshow-container">
    {% for graph in include_html %}
        <div class="slideshow-slides">
            {% include "hanel/graphs/" + graph %}
        </div>
    {% endfor %}
  
    <!-- navigation buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

{% endblock %}

{% block rightcontent %}
  {% include "hanel/platforms-glossary.html" %}
{% endblock %}
