{% extends "base.html" %}

{% block content %}
<h1>Download</h1>

<p>Hier können Sie die der App zugrundeliegenden Daten herunterladen.</p> 

<a href="/download/wordlist">Wortliste als .txt</a><br>
<a href="/download/json">Ganzes Glossar als .json</a>

<p style="font-size:10pt;">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/de/88x31.png" /></a><br />Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/">Creative Commons Namensnennung</a> – Weitergabe unter gleichen Bedingungen 3.0 Deutschland Lizenz.
</p>
{% endblock %}