{% extends "base.html" %}

{% block content %}

<div id="left-wrapper">
  {% block leftcontent %}{% endblock %}
</div>

<div id="right-wrapper">
  {% block rightcontent %}{% endblock %}
</div>

<!-- jQuery 3.6.0 -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- List.js 2.3.1 -->
<script src="{{ url_for('static', filename='js/list.min.js') }}"></script>

<!-- make certain variables available for JS files. errors on the next lines can be ignored -->
<script type="text/javascript">
  const glossaryLength = {{ glossary|length }}; 
  const itemsPerPage = {{ items_per_page }};
  const enableSubmissions = {{ enable_submissions }};
  let tweetedTerms = 0;
</script>

{% if tweeted_terms is defined %}
  <script>
    tweetedTerms = {{ tweeted_terms|safe }};    // mark as safe so ' charaters aren't escaped
  </script>
{% endif %}

<!-- JS code for search -->
<script src="{{ url_for('static', filename='js/search.js') }}"></script>

<!-- JS code for pagination -->
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>

<!-- JS code for collapsible -->
<script src="{{ url_for('static', filename='js/collapsible.js') }}"></script>

<!-- JS code for submit modal -->
<script src="{{ url_for('static', filename='js/submitmodal.js') }}"></script>

<noscript>
  Bitte lassen Sie JavaScript auf dieser Seite zu, 
  um die Such- und Vorschlagsfunktionen nutzen zu können
</noscript>

{% endblock %}