<!-- search form -->
<!-- https://stackoverflow.com/questions/41475945/ajax-request-to-perform-search-in-flask -->
<div class="form-no-modal">
  <form method="GET" action="">
    <fieldset>
      <legend>Ein Wort suchen:</legend>
      <input type="text" name="query" id="query" title="Suchbegriff">
      <label for="query" class="noshow">Suchbegriff</label>
      <button id="btn-search">Suchen</button>
      <a href="/def/{{ random_entry }}" class="button" id="btn-random">Zufällig</a>
    </fieldset>
  </form>
</div>
